/* ---body---  */
body{
    @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Manrope:wght@200;400&family=Poppins:ital,wght@0,400;0,700;1,500&family=Roboto:ital@1&family=Source+Sans+Pro:ital@1&family=Yeseva+One&display=swap')

    font-family: 'Roboto',
    sans-serif;
  padding: 50px;
}


/*---- header ----- */
@media only screen and (max-width:480px) {
   h3{
       font-size: 20px;    
   }
  h1{
    background-color: whitesmoke;
    font-size: 20px;    
  }
  section{
      grid-template-columns: repeat(1,1fr);
  }
  .head-banner img{
      height: 100px;
    width: 100px;
    }
  .camera:hover{
    transform: scale(1.4) rotate(-45deg);
    transition: transform 2s ease-in-out;
}
      
   .section-title{
       font-size: 30px;
   }
.container-2 #products{
  grid-template-columns: repeat(1,1fr);
}
.button{
    font-size: 10px;
}
.box{
    width: 100px;
}
.footer{
    background-color:#5f8ed0;
    width:100px;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
}

@media only screen and (min-width:500px) {
    h3{
        font-size: 30px;    
    }
   h1{
     background-color: whitesmoke;
     font-size: 30px;    
   }
   .camera:hover{
     transform: scale(1.2) rotate(-45deg);
     transition: transform 2s ;
     overflow: hidden;
 }
       
    .section-title{
        font-size: 30px;
    }
 .container-2 #products{
   grid-template-columns: repeat(2,1fr);
 }
 .button{
     font-size: 10px;
 }
 .box{
     width: 150px;
 }
 .footer{
    background-color:#5f8ed0;
    padding-top: 15px;
    padding-bottom: 15px;
}
    
}

section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    margin-bottom: 30px;
}
.head-banner{
    width: 50%;
}
.head-banner img{
    width: 300px;
height: 300px;
}
.camera:hover{
    transform: scale(1.2) rotate(-45deg);
    transition: transform 2s ease-in-out;
}
.button{
    background-color: #E02C6D;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
    color: lightyellow;
}
/* ---products--- */
.section-title{
    justify-items: center;
    text-align: center;
}
#products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:15px;
    grid-column-gap:20px ;

}
.products .product img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
}
.product{
    width: 315px;
height: 450px;
border:1px solid white;
box-shadow:5px 5px 5px 5px whitesmoke ;
padding: 20px;

}
.star{
  color: #FB8200; 
}
.info-color{
    color:gray;
}
 .see{
    float: right;
  
 }   
.button-2{
 color: #E02C6D;
    text-decoration: none;
    margin-bottom: 40px;
}

/* extra-part */
 .container{
     display: flex;
   justify-content:center;
   font-size: 20px;
 }
 .box{
     width: 300px;
     border:2px solid lightgreen;
     margin-right: 30px;  
     padding: 15px;  
     box-shadow:5px 5px lightgreen;
 }
 
 /* extra-end */

 /*---- footer ---- */
 footer{
     background-color:#AAAAAA;
     margin: 40px;
     padding-top: 20px;
     padding-bottom: 20px;
     justify-items: center;
    text-align: center;
 }
